<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to our website</h1>
    {% if error_message %}
            <p>{{ error_message }}</p>
    {% endif %}
    {% if is_authenticated %}
            <h2>Menu Items:qw</h2>
            <ul>
            {% for menu_item in menu_items %}
                    <li>{{ menu_item.menu_item_name }}</li>
                    <p>Category: {{ menu_item.category }}</p>
                    <p>Description: {{ menu_item.description }}</p>
                    <p>Price: {{ menu_item.price }}</p>
                    <p>Image: <img src="{{ menu_item.menu_item_image }}" alt="Menu Item Image"></p>
                {% endfor %}
               
            </ul>
        
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Signup</a>
        {% endif %}
    {% endif %}
</body>
</html>
