<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Detail</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Order Detail - {{ order.id }}</h1>
    <h2>Ordered Items:</h2>
    <ul>
    <h2>Order ID: {{ order.id }}</h2>    
    {% for item in ordered_items %}
        <li><br> Item Name: {{ item.menu_item.menu_item_name  }} - Quantity: {{ item.quantity }}</li>
    {% empty %}
        <li>No items ordered.</li>
    {% endfor %}
    </ul>
</body>
</html>
