<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Order Confirmed!</h1>
    <p>Order ID: {{ order.id }}</p>
    <p>Ordered Date: {{ order.ordered_date }}</p>
    <p>Total Payment: {{ total_payment }}</p>
    {% comment %} <p>Payment Type: {{ order.payment.payment_type }}</p> {% endcomment %}

    <h2>Ordered Items</h2>
    <ul>
        {% for ordered_item in ordered_items %}
            <li>
                {{ ordered_item.ordered_item_name }} - 
                Quantity: {{ ordered_item.quantity }} - 
                Price: {{ ordered_item.price }} - 
                Category: {{ ordered_item.category }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
