<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Cart</h1>

    <ul>
        {% if cart_items %}
            <!-- Loop through items in the cart -->
            {% for item in cart_items %}
                <p>Image: <img src="{{ item.menu_item.menu_item_image }}" alt="Menu Item Image"></p>
                <li>{{ item.menu_item.menu_item_name }} - Quantity: <span id="quantity_{{ item.id }}">{{ item.quantity }}</span>
                    <button onclick="updateQuantity('{{ item.id }}', 'decrement')">-</button>
                    <button onclick="updateQuantity('{{ item.id }}', 'increment')">+</button>
                </li>
            {% endfor %}
        {% else %}
            <p>Your cart is empty.</p>
        {% endif %}
    </ul>

    <script>
        function updateQuantity(itemId, action) {
            fetch('{% url "update_quantity" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    item_id: itemId,
                    action: action
                })
            })
            .then(response => {
                if (response.ok) {
                    // If the update was successful, update the quantity displayed on the frontend
                 
                    return response.json();

                } else {
                    console.error('Failed to update quantity');
                }
            })
            .then(data => {
                

                // Update the quantity displayed on the frontend
                document.getElementById('quantity_' + itemId).textContent = data.quantity;
                if(data.quantity<=0){
                    location.reload();
                }
            
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
